.page-content, .sticky-nav {
    background-color: #969696;
}
#kpi_wrapper .col-md-3 {
    opacity: .5 !important;
}

.col-md-8:hover, .col-md-3:hover, .col-md-4:hover, .col-md-12:hover, .page-sidebar:hover {
    opacity: 1 !important;
}
